<h1>Buscamos personal para nuestra nueva sucursal</h1>
<p>Para mas informacion completa los datos a continuacion</p>
<form>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Correo electronico</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">¿Por que quieres este puesto?</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
